{% extends 'index.html' %}

{% block content %}

<main>
    <div class="form__wrapper">
        <div class="form__header">
            <h2><span>{{ form__title|slice:":2" }}-</span>{{form__title|slice:"2:"}}</h2>
        </div>
        {% if messages %}
            <ul class="messages error">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if page == 'login' %}
            <form action="" method="POST" autocomplete="off" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="field__group">
                    <input type="email" name="email" placeholder="Email">
                </div>
                <div class="field__group pass">
                    <input type="password" name="password" placeholder="Password">
                    <i class="fas fa-eye"></i>
                </div>
                <div class="field__group forget">
                    <label for="">
                        <input type="checkbox" name="remember_me">Remember me
                    </label>
                    <a href="#" class="forget__password">Forgot password</a>
                </div>
                <button class="btn f__btn">LogIn</button>
            </form>
            <p class="already">
                <span>Don't have an account? <a href="{% url 'register' %}">SignUp</a></span>
            </p>
        {% else %}
            <form action="" method="POST" autocomplete="off" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="field__group">
                    {{ form.name }}
                </div>
                <div class="field__group">
                    {{ form.username }}
                </div>
                <div class="field__group">
                    {{ form.email }}
                </div>
                <div class="field__group">
                    {{ form.password1 }}
                    <i class="fas fa-eye"></i>
                </div>
                <div class="field__group pass2">
                    {{ form.password2 }}
                    <i class="fas fa-eye"></i>
                </div>
                
                <div class="field__group avatar">
                    <label for="">Avatar</label>
                    {{ form.avatar }}
                </div>
                <button class="btn f__btn">SignUp</button>
            </form>
            <p class="already"><span>Already have an account? <a href="{% url 'login' %}">LogIn</a></span></p>
        {% endif %}
    </div>
</main>
{% endblock content %}